#sign_up{
    margin-left: 60vh;
    margin-top: 25vh;
    height: 50vh;
    justify-content: center;
    
}
#sign_in{
    margin-left: 60vh;
    margin-top: 25vh;
    height: 50vh;
    justify-content: center;
    
}
.btn-btn{
    margin-top: 2vh;
    padding: 0vh 12vh;
    text-align: center;
    border:2vh solid #00ff00;
    margin-left: 7vh;
}
body{
    background-color: #ff69b4;

}
#dango{
    color: aqua; 
    font-size: 7vh;
    font-family: Times New Roman;
    font-weight: bold;
}
.menu_list{
    color: #fff634;
    cursor: pointer;
    
}
.cotainer-fluid{
    background-color: #ff69b4;
}
#Information{
    color: deeppink;
    font-size: 4.1vh;
    font-family: Times Roman;
    word-spacing: 0vh;
    text-align: center;
    
}
#menu_lists{
  font-size: 3.5vh;
  font-family: calibri;
  font: bold;
  height: fit-content;
  height: fit-content;
}
#btn{
    padding: 1px 35px;
    margin-left: 90px;
    color: #00ff00;
    background-color: brown;
    border-color: chartreuse;
    border-radius: 100px;

}
h3{
    color: #00ff00;
    background-color: aqua;
    text-align: center;

}
#movie{
    text-align: center;
    color: #ff69b4;
    font-family: Times New ROMAN;
}
#menu {
    text-align: center;
    color: #ff69b4;
    font-family: Times New ROMAN;
    
}
#container{
    background-color: coral;
    height: fit-content;
    width: fit-content;
}

#times{
    margin-left: 60vh;
    font-size: 5vh;
    font-family: Tahoma;
    color: #00ff00;
}
#tickets{
   color: tomato;
   font-weight: bolder;
}
#image{
 height: 12vh;
 width: 240vh;
}